<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <div class="logo">
        <%= link_to root_path do %>
          <img src="assets/logo.png">
        <% end %>
      </div>
    </div>
    <div class="collapse navbar-collapse navbar-left" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <%= navigation_link "Projects", root_path, "job_project" %>
        <%= navigation_link "Trends", trends_path, "trends" %>
      </ul>
    </div>
  </div>
</nav>